<IfModule mod_env.c>
        SetEnv PHPRC /home/vpenevcl/php.ini
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/content/.*$
  RewriteCond %{REQUEST_URI} !^/library/.*$
  RewriteCond %{REQUEST_URI} !^/favicon\.ico$
  RewriteRule ^ index.php
</IfModule>
