body > header {
    background: #eee;
    padding: 5px;
}

body > header >a> img, body > header ul, body > header ul > li {
    display: inline-block;
    vertical-align: middle;
}

body > footer {
    background: #eee;
    padding: 5px;
    text-align: center;
}

li.info{
    background:#7f7;
}

li.error{
    background:#f77;
}